<canvas id='canvas' style="background: red;"></canvas>
<div class='overlay'>
    <div>
        Slice:
        <span>{{getSliceIndexUi()}}</span>
    </div>
    <div>
        Contrast lower:
        <span>{{getColorIntensityLowerBoundUi()}}</span>
    </div>
    <div>
        Contrast upper:
        <span>{{getColorIntensityUpperBoundUi()}}</span>
    </div>
</div>
<div class='controls'>
    <div>W - next slice</div>
    <div>S - previous slice</div>
    <div>C - decrease contrast lower bound</div>
    <div>V - increase contrast upper bound</div>
    <div>B - decrease contrast lower bound</div>
    <div>N - increase contrast upper bound</div>
    <div>J - Move camera left</div>
    <div>L - Move camera right</div>
    <div>I - Move camera up</div>
    <div>K - Move camera down</div>
    <div>O - Zoom camera in</div>
    <div>P - Zoom camera out</div>
</div>