<canvas id='canvas'></canvas>
<div id='overlay'>
    <div id='slice'>Slice: </div>
    <div id='color-intensity-lower-bound'>Contrast lower: </div>
    <div id='color-intensity-upper-bound'>Contrast upper: </div>
</div>
<div id='controls'>
    <label>Show overlay:
        <input id='show-overlay' type='checkbox' checked=false value=false>
    </label>
    <div>W - next slice</div>
    <div>S - previous slice</div>
    <div>C - decrease contrast lower bound</div>
    <div>V - increase contrast upper bound</div>
    <div>B - decrease contrast lower bound</div>
    <div>N - increase contrast upper bound</div>
    <div>J - Move camera left</div>
    <div>L - Move camera right</div>
    <div>I - Move camera up</div>
    <div>K - Move camera down</div>
    <div>O - Zoom camera in</div>
    <div>P - Zoom camera out</div>
</div>