.app {
    --tab-border-color: #000000;
}

.title {
    font-size: 24px;
}

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 8px;
}

.tab {
    background-color: #B9B7BD;
    border-left: 1px solid black;
    border-right: 1px solid var(--tab-border-color);
    border-top: 1px solid var(--tab-border-color);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
    padding: 4px;
    margin-left: 1px;
}

.tab:hover {
    background-color: #f2e1dc;
}

.tab.selected {
    background-color: #E7D2CC;
}

.overlay {
    position: absolute;
    top: 80px;
    left: 16px;
    color: white;
}

.loading-indicator {
    position: absolute;
    top: 350px;
    left: 350px;
    color: white;
    font-size: 36px;
}